#canvas {
    position: relative;
    border: 1px solid grey;
    height: 600px;
    overflow: scroll;
}
#canvas > svg {
    position: absolute;
    z-index: -100;
}

#canvas .card {
    width: 200px;
}
