#canvas {
    width: 800px;
    height: 600px;
    position: relative;
    border: 1px solid grey;
}
#canvas > svg {
    position: absolute;
    z-index: -100;
}

.edit-mode-on {
    cursor: crosshair;
}
